<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:include="layout :: headFragment(pageTitle='About Us - Dark Side of the Rainbow')"></head>
<body>

<header th:include="layout :: header(activePage='about')"></header>


<div class="container-fluid center_div">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
            <h2>Dark Side of the Rainbow</h2>
            <p>
                Tech Used:
            </p>
            <ul>
                <li>Spring Boot, Security, REST, JPA</li>
                <li>Thymeleaf</li>
                <li>jQuery</li>
                <li>Lombok</li>
                <li>PostgreSQL</li>
                <li><a href="http://fezvrasta.github.io/bootstrap-material-design/">Bootstrap - Material Design Theme</a></li>
                <li><a href="https://datatables.net/">DataTables jQuery Plugin</a></li>
            </ul>

            <p>
                Features:
            </p>
            <ul>
                <li>Login</li>
                <li>Admin Dashboard</li>
                <li>Manage Users and Albums</li>
                <li>Simple Search</li>
                <li>Encrypted Authentication</li>
            </ul>

            <p>
                To-do:
            </p>
            <ul>
                <li>Registration</li>
                <li>Unit Testing</li>
                <li>User Settings</li>
                <li>Shop</li>
                <li>Advanced search</li>
                <li>Integrate AngularJS with REST endpoints</li>
                <li>Link Spotify for users to preview album music</li>
                <li>More Roles</li>
            </ul>
        </div>
    </div>
</div>

<footer th:include="layout :: footer"></footer>
<th:block th:include="layout :: script"></th:block>
</body>
</html>