<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head th:fragment="headFragment(pageTitle)">

    <meta charset="utf-8"/>
    <title th:text="${pageTitle}">Title Text</title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{'webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css'}"/>

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" th:href="@{'webjars/bootstrap-material-design/0.5.10/dist/css/bootstrap-material-design.min.css'}" />
    <link rel="stylesheet" th:href="@{'webjars/bootstrap-material-design/0.5.10/dist/css/ripples.min.css'}" />

    <link href="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet"/>

    <!-- Dropdown.js -->
    <link href="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" type="text/css" th:href="@{'/css/main.css'}"/>

    <script th:src="@{'webjars/jquery/2.1.3/jquery.min.js'}"></script>
    <script th:src="@{'webjars/angularjs/1.6.2/angular.min.js'}"></script>
    <script th:src="@{'webjars/angularjs/1.6.2/angular-route.min.js'}"></script>
    <base href="/"/>
</head>

<body>
<!-- Header fragment -->
<header th:fragment="header(activePage)">
    <div class="navbar navbar-inverse" th:classappend="${#strings.equals(activePage,'index')} ? navbar-no-margin : ''">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">Dark Side of the Rainbow</a>
            </div>
            <div class="navbar-collapse collapse navbar-inverse-collapse">
                <ul class="nav navbar-nav">
                    <li th:class="${#strings.equals(activePage,'index')} ? active : ''"><a th:href="@{/}">Home</a></li>
                    <li th:class="${#strings.equals(activePage,'about')} ? active : ''"><a th:href="@{/about}">About Us</a></li>
                    <li class="dropdown" th:classappend="${#strings.equals(activePage,'shop')} ? active : ''">
                        <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Shop
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)">Albums</a></li>
                            <li><a href="javascript:void(0)"></a></li>
                            <li><a href="javascript:void(0)">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Dropdown header</li>
                            <li><a href="javascript:void(0)">Separated link</a></li>
                            <li><a href="javascript:void(0)">One more separated link</a></li>
                        </ul>
                    </li>
                    <li th:class="${#strings.equals(activePage,'contact')} ? active : ''"><a th:href="@{/contact-us}">Contact Us</a></li>
                </ul>

                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control col-md-8" placeholder="Search"/>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li th:unless="${#httpServletRequest.remoteUser}"><a th:href="@{/login}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
                    <li th:if="${#httpServletRequest.remoteUser}"><a th:href="@{/logout}"><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</a></li>
                    <li th:if="${#httpServletRequest.remoteUser}" class="dropdown">
                        <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i> Administration
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)">Manage Users</a></li>
                            <li><a href="javascript:void(0)">Manage Albums</a></li>
                            <li><a href="javascript:void(0)">Site Configuration</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:void(0)">User Settings</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>


<!-- Footer fragment -->
<footer th:fragment="footer">
    <div class="container text-center">
        <p>&copy; 2017 - Dark Side of the Rainbow</p>
    </div>
</footer>

<th:block th:fragment="script">
    <script th:src="@{'webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js'}"/>

    <script th:src="@{'webjars/bootstrap-material-design/0.5.10/dist/js/material.js'}"></script>
    <script th:src="@{'webjars/bootstrap-material-design/0.5.10/dist/js/ripples.min.js'}"></script>
    <script src="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.js"></script>

    <script>
        $.material.init();
    </script>

    <script src="https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
            $("#dropdown-menu select").dropdown();
        });
    </script>
</th:block>


</body>
</html>